connection_data:
  127.0.0.1:
    account: "account"
    password: "password"
    autoselect:
        realm_name: ".*PATTERN TO FIND REALM NAME.*"
        character_name: ".*PATTERN TO FIND CHARACTER NAME.*"

  another.server.com:
    account: ""
    password: ""
    autoselect:
        realm_name: "FULL REALM NAME"
        character_name: "FULL CHARACTER NAME"

channels:
  lfg: "lfg-channel-name"
  common: "common-channel-name"
  trade: "trade-channel-name"

addons:
  - name: "Blizzard_AchievementUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_ArenaUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_AuctionUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_BarbershopUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_BattlefieldMinimap"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_BindingUI"
    flags: 225
    modulus_crc: 1276933997
    urlcrc_crc: 0

  - name: "Blizzard_Calendar"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_CombatLog"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_CombatText"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_DebugTools"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_GlyphUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_GMChatUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_GMSurveyUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_GuildBankUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_InspectUI"
    flags: 92
    modulus_crc: 1276933997
    urlcrc_crc: 0

  - name: "Blizzard_ItemSocketingUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_MacroUI"
    flags: 31
    modulus_crc: 1276933997
    urlcrc_crc: 0

  - name: "Blizzard_RaidUI"
    flags: 201
    modulus_crc: 1276933997
    urlcrc_crc: 0

  - name: "Blizzard_TalentUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_TimeManager"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_TokenUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_TradeSkillUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

  - name: "Blizzard_TrainerUI"
    flags: 0
    modulus_crc: 0
    urlcrc_crc: 0

bot_chat:
  greet_messages:
    - "hi"
    - "hey"
    - "hello"
  agree:
    - "yes"
    - "yep"
    - "ok"
  disagree:
    - "no"
    - "nope"
  follow_invite:
    - "go"
    - "follow me"
  stop:
    - "stay here"
    - "wait"
